---
layout: default
title: Home
---

{% if page.url == "/" %}
<!-- info
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Info</span></h2>
    </div>
    <div class="">

    <p class="info_text">The VisHub is an interdisciplinary research lab and hub for teaching, collaboration, and outreach around data visualization hosted by the Institute for Design Informatics and the School of Informatics at the University of Edinburgh. We research creative methods for interactive, exploratory and explanatory data visualizations across domains and environments (e.g., screen, physical, immersion). Our goal is to make data visualiztion and data analytics understandable by everyone. Find out more about our research and outreach below and don’t hestitate to get in touch.</p>

    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Projects</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

